
.vscode/
*.exe
test 
switch
function
overloaded-function  
for-loop
random-number
do-while-loop
string-methods
while-loop
banking-app
array
foreachloop
array-sort
fill
get-user-input-array
passing-memory-address
pointers
null-pointers